{% extends "layout.html" %}

{% block title %}
    Shop | {{ listing[2] }}
{% endblock %}

{% block body %}
    <h2></h2>
    <div class="wrappersignin" style="right: 0px; padding-right: 15px; width: fit-content;">
        <div class="button" onclick="location.href='/'">
            <span class="button__mask"></span>
            <span class="button__text">Back home</span>
            <span class="button__text button__text--bis">Back home</span>
        </div>
    </div>

    <div class="wrappersignin" style="left: 0px; padding-left: 15px; width: fit-content;">
        <div class="button" onclick="location.href='/uni_shop'">
            <span class="button__mask"></span>
            <span class="button__text">Back to shop</span>
            <span class="button__text button__text--bis">Back to shop</span>
        </div>
    </div>

    <div class="module-border-wrap" style="margin: auto; width: 70%; margin-top: 100px;">
        <div class="listing-card">
            <div class="text" style="color: rgb(51, 173, 218);">
                <img src="/static/img/listings/listing-img-{{ listing[0] }}.png" class="listing-img">
                <h2>{{ listing[2] }}</h3>
                <p>{{ listing[3] }}</p>
                <p>Category: <b><span id="category" class="{{ listing[4] }}"></span>{{ listing[4] }}</b></p>
                {% if listing[5] == "new" %}
                    <p class="new">First hand/new/barely-used</p>
                {% else %}
                    <p class="old">Second-hand</p>
                {% endif %}
                <p>Base price: <b>${{ listing[8] }}</b></p>
                <p><i>Put up for sale on <b>{{ listing[7] }}</b></i></p>
                <div class="module-border-wrap" style="width: 50%; margin: auto;">
                    <div class="listing-card">
                        <div class="text" style="color: rgb(220, 212, 52);">
                            <h3>Seller details</h3>
                            <p><span><img src="" class=""></span>Username: {{ seller[0] }}</p>
                            <p>Location: {{ seller[4] }}</p>
                            <p>Distance from you: {{ display_dist }}</p>
                            <p>Contact number(in case the button below doesn't work): <p style="color: aquamarine;">{{ seller[1] }}</p></p>
                            {% if dist > 250 %} 
                                <div class="dist_check" style="color: #721c24; background-color: #f8d7da;">The seller may be too far from you</div>
                            {% elif dist > 100 %} 
                                <div class="dist_check" style="color: #856404; background-color: #fff3cd;">The seller is quite some distance away</div>
                            {% else %}
                                <div class="dist_check" style="color: #155724; background-color: #d4edda;">The seller is likely in or near your city</div>
                            {% endif %}
                            <br>
                        </div>
                    </div>
                </div>
                <form hidden method="post" action="chat/redirect">
                    <input hidden name="csrf_token" value="{{ csrf_token() }}">
                    <input hidden name="phone_num" value="{{ seller[1] }}">
                </form>
                <div class="mentorsign" style="margin: auto;" id="submit">
                    <div class="button">
                        <span class="button__mask"></span>
                        <span class="button__text">Contact seller</span>
                        <span class="button__text button__text--bis">Contact seller</span>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <script>
        let icons = {
            "Books": "&#128218; ",
            "Stationary": "&#128207; &#9999; ",
            "Clothing": "&#128087; &#128085; ",
            "Household": "&#127968; ",
            "Sports": "&#127951; &#127934; &#9917; ",
            "Electronics": "&#128267; ",
            "Toys": "&#127922; ",
            "Decorations": "&#127882; &#10024; ",
        }
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#submit").addEventListener("click", () => {
                if (confirm("You will be redirected to a whatsapp chat with the seller, where you can negotiate the price and find out further details")) {
                    document.querySelector("form").submit();
                }
            })
            let icon = document.querySelector("#category");
            icon.innerHTML = icons[icon.className];
        })
    </script>
{% endblock %}