{% extends "layout.html" %}

{% block title %}
    About 
{% endblock %}

{% block body %}
    <div class='banner'>
        <img src='static/img/banner2.png'>
    </div>

    <div class="text" style="width: 75%; margin: auto; text-align: left; line-height: 2em;">
        <h1>UniC</h1>
        <p>
            Applying to colleges is a huge pain for students all over the world, 
            and especially when they are applying to college abroad. 
            Our app UniC, which stands for University Connect, 
            aims to help fix this through a variety of features.
        </p>

        <h2>Problem and Solution</h2>
        <p>
            Students who go abroad to study often find it 
            difficult to connect with their family, friends and culture back home. 
            Additionally, they find it tough to manage student loans, bank accounts, air travel fares, 
            food, part-time jobs and studies - 
            the fact that each of these have their own separate apps makes it even tougher than it already is. 
            Our app attempts to solve that problem, by bringing all these features onto one platform.
        </p>
        <p>
            But that's not all. 
            We also provide a platform for prospect students who wish to travel abroad 
            for their studies to connect with career counsellors from different companies, 
            as well as with other students on the app who are studying abroad.
        </p>

        <h2>The Main Features</h2>

        <h3>Student Marketplace</h3>
        <p>
            Users on the app can buy and sell items through the app.
            <a href="/uni_shop">Visit Marketplace</a>
        </p>

        <h3>Mentorship Features</h3>
        <p>
            Users can sign up as "mentors" on the app, allowing other users to seek them out 
            and contact them about any advice they may need.
            <a href="/mentor/search">Search for mentors</a> or <a href="/mentor/signup">Sign up as one instead</a>
        </p>

        <h3>Career Counselling Feature <em>(not yet available)</em></h3>
        <p>
            We are planning to partner with a number of career counselling companies, 
            such as Crimson Education and Coaching 4 Good, 
            whose counsellors can reach out to users on our app(or vice versa) 
            for career/education-related advice. 
            Additionally, this app will provide a platform for Freelancers to 
            reach out to an audience of users. 
            On our side, we will conduct qualification and background checks 
            on any freelancers who wish to use the app, 
            to ensure that students and parents alike have a satisfactory experience.
        </p>

        <h3>Food and Merch <em>(not yet available)</em></h3>
        <p>
            Some Food and Merch companies(especially small local businesses) 
            will be enlisted to sell their wares to students on our app.
        </p>

        <h3>Finances <em>(not yet available)</em></h3>
        <p>
            We wish to partner with banks, mobile companies, and airline companies
            so that we can offer them discounted rates on student loans, mobile plans, and flight tickets, 
            making it much more comfortable for them to make the shift and move abroad. 
            Already we have communicated with a number of companies, 
            and they will be willing to look at possible partnerships if our app has a stable userbase.
            So please help us by recommending this app to our friends!
        </p>

        <h2>The Impact</h2>
        <p>
            Our app will help provide cheaper services to students, 
            solving the problems of millions of parents and students worldwide, 
            and will positively impact universities as well since more students 
            will be comfortable with the idea of studying abroad, away from their homes.
        </p>
    </div>
    
    <h1 style="font-weight: bold; color: #a4a4a4">Creators of <span style="color: #529bf5;">Uni</span><span style="color:#82b1ea;">C</span></h1>
    <div style="color: #e7e7e7; font-size: large;">
        {% for name in names %}
            <b><p class="text" style="color: #e7e7e7; font-size: large;">{{ name }}</p></b>
        {% endfor %}
    </div>

    <div class="fancybutton normal" style="right: 2vw;">
        <div class="button" onclick="location.href='/'" style="width: 200px;">
            <span class="button__mask"></span>
            <span class="button__text">Back to Home</span>
            <span class="button__text button__text--bis">Back to Home</span>
        </div>
    </div>
{% endblock %}
