<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta tags, js scripts, css files, and stuff like that -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="static/css/responsiveness.css" rel="stylesheet">

        <title>UniC | {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %} 
        {% endblock %}
        <br><br><br>
    </body>
</html>
