{% extends "layout.html" %}

{% block title %}
    Nope
{% endblock %}

{% block body %}
    <h2 class="text">You can't be here</h2>
    <div class="fancybutton normal" style="left: 2vw;">
        <div class="button" onclick="location.href='/'">
            <span class="button__mask"></span>
            <span class="button__text">Back home</span>
            <span class="button__text button__text--bis">Back home</span>
        </div>
    </div>
    <br>
    <img src="/static/img/rickroll.gif" style="width: 625px;" alt="NO U">
{% endblock %}