{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block body %}
    <h2 class="text">UniC Marketplace</h2>

    <div id="bigscreenbuttons">
        <div class="fancybutton normal" style="left: 2.5vw;">
            <div class="button" onclick="location.href='/'">
                <span class="button__mask"></span>
                <span class="button__text">Back home</span>
                <span class="button__text button__text--bis">Back home</span>
            </div>
        </div>

        <div class="fancybutton normal" style="right: 2vw;">
            <div class="button" onclick="location.href='/uni_shop/sell';">
                <span class="button__mask"></span>
                <span class="button__text">Sell</span>
                <span class="button__text button__text--bis">Sell</span>
            </div>
        </div>

        <div class="fancybutton normal" style="right: 160px">
            <div class="button" onclick="location.href='/uni_shop/filter'">
                <span class="button__mask"></span>
                <span class="button__text">Search using a filter</span>
                <span class="button__text button__text--bis">Search using a filter</span>
            </div>
        </div>
    </div>
    <!--
    <div id="smallscreenbuttons">
        <div class="wrappersignin" style="width: fit-content; left: 8vw">
            <div class="button" onclick="location.href='/'">
                <span class="button__mask"></span>
                <span class="button__text">Back home</span>
                <span class="button__text button__text--bis">Back home</span>
            </div>
        </div>
        <br><br><br><br>
        <div class="wrappersignin"  style="width: fit-content; left: 8vw">
            <div class="button" onclick="location.href='/uni_shop/sell';">
                <span class="button__mask"></span>
                <span class="button__text">Sell</span>
                <span class="button__text button__text--bis">Sell</span>
            </div>
        </div>
        <br><br><br><br>
        <div class="wrappersignin" style="width: fit-content; left: 8vw">
            <div class="button" onclick="location.href='/uni_shop/filter'">
                <span class="button__mask"></span>
                <span class="button__text">Search using a filter</span>
                <span class="button__text button__text--bis">Search using a filter</span>
            </div>
        </div>
        <br><br>
    </div>-->

    {% if listings %}
        {% for listing in listings %}
            <div class="module-border-wrap">
                <div class="listing-card">
                    <div class="fancybutton listing-btn">
                        <div class="button" onclick="location.href='/uni_shop/item/{{ listing[0] }}'">
                            <span class="button__mask"></span>
                            <span class="button__text">See item</span>
                            <span class="button__text button__text--bis">See item</span>
                        </div>
                    </div>
                    <h2 class="text" style="text-align: left;">{{ listing[2] }}</h2>
                    <p class="text" style="text-align: left;">{{ listing[3] }}</p>
                    <p class="text" style="text-align: left;"><b>Category: </b><span id="category" class="{{ listing[4] }}"></span> {{ listing[4] }}</p>
                    {% if listing[5] == "new" %}
                        <p class="text" style="text-align: left;">First hand/new/barely-used</p>
                    {% else %}
                        <p class="text" style="text-align: left;">Second-hand</p>
                    {% endif %}
                    <p class="text" style="text-align: left;"><i>Put up for sale on <b>{{ listing[7] }}</b> by <b>{{ listing[9] }}</b></i></p>
                </div>
            </div>
        {% endfor %}
        <script src="/static/js/icon-assignment.js"></script>
    {% else %}
        <h2 class="text">Shop is empty for now &#128533</h2>
    {% endif %}
{% endblock %}